# DATASCI 101, Homework 03

In [2]:
# basic setup, run this first
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np

## Question 1

We will start this homework with some questions on collections in Python.

### Q1.a

Recall that *sets* are collections where each value in the collection only appears once.

Using the `set` function, turn both of these strings into sets. Then use set methods to find

* How many letters are shared between the two names?
* Which letters are in "George Washington" that are not in "Abraham Lincoln"?
* How many letters are in neither president's name?

In [15]:
gw = "George Washington".lower()
al = "Abraham Lincoln".lower()
az = "abcdefghijklmnopqrstuvwxyz"

#Create a set with the three strings
set_gw = set(gw)
set_al = set(al)
set_az = set(az)

#Letters shared between two names
gw_al_common = set_gw & set_al
print(gw_al_common)

#Letters in GW but not in AL
gw_sub_al = set_gw - set_al
print(gw_sub_al)

#Letters in neither names
az_remain = set_az - set_gw - set_al
print(az_remain)
len(az_remain)

{'i', 'r', 'o', 'a', 'n', ' ', 'h'}
{'t', 'g', 'e', 'w', 's'}
{'v', 'd', 'q', 'u', 'y', 'f', 'j', 'p', 'z', 'k', 'x'}

11

### Q1.b



Use a `for` loop to find the unique values in the lunch orders below. Using Python, print out the number of unique items being ordered. (*Hint*: You can use `set()` to create an empty set.)

In [25]:
lunch_orders = [{"pasta", "coffee"},
                {"fries","sandwich", "cookie"},
                {"pasta", "salad", "water"},
                {"salad", "pasta", "coffee"},
                {"sandwich", "water"}]

# Create an empty set
lunch_unique = set()

# Iterate through the list and separate each order into single items
for lunch_order in lunch_orders:

    # Insert unique items into set
    for order in lunch_order:
        lunch_unique.add(order)

print(len(lunch_unique))
lunch_unique

7

{'coffee', 'cookie', 'fries', 'pasta', 'salad', 'sandwich', 'water'}

### Q1.c

Here is a menu at the resturant, with items and their cost:

| Item | Price | Vegetarian |
| --- | --- | --- |
| salad | 8 | True |
| soup | 5 | False |
| pasta | 12 | True |
| sandwich | 9 | False |
| burger | 13 | False |
| fries | 6 | True |
| cake | 6 | True |
| cookie| 3 | True |
| water | 0 | True |
| coffee| 2 | True |
| soda | 3 | True |

Create a dictionary called `menu` that has the item names as keys and a two-tuple with (price, vegetarian) as the value.

Demonstrate by retrieving the price and vegetarian status of "burger".



### Q1.d

Write a function that takes a lunch order (a set of menu items) and returns the total price.

Write a function that takes a lunch order a returns true if the entire order is vegetarian.

Use list comprehensions to compute the price of each order and whether each order is vegtarian.

In [65]:
#Create a dictionary 'menu'
menu = {"salad":(8, True), "soup":(5, False), "pasta":(12, True), "sandwich":(9, False), "burger": (13, False), "fries":(6, True), "cake":(6, True), "cookie":(3, True), "water":(0, True), "coffee":(2, True), "soda":(3, True)}

#Retrive price and vegetarian information for "burger"
menu["burger"]

#Creating a function that returns the total price of an order
def total_price(order, menu):
    total = 0
    for item in order:
        total += menu[item][0]
    return total

#Testing Function total_price
print("Testing total_price")
#Test the function with the order "lunch_unique"
assert(total_price(lunch_unique, menu) == 40)

#Test the function with single order "pasta"
order1 = {"pasta"}
assert(total_price(order1, menu) == 12)

#Creating a function that returns the vegetarian status of an order
def veg_status(order, menu):
    veg = True
    for item in order:
        if menu[item][1] == False:
            veg = False
            break
    return veg

#Testing Function veg_status
print("Testing veg_status")

#Test the function with the order "lunch_unique"
assert(veg_status(lunch_unique, menu) == False)

#Test the function with single order "cookie"
order2 = {"cookie"}
assert(veg_status(order2, menu) == True)

#Iterating through the lunch orders, determine total price and veg status
order_prices = [total_price(order, menu) for order in lunch_orders]
order_veg_status = [veg_status(order, menu) for order in lunch_orders]
print(order_prices, order_veg_status)

Testing total_price
Testing veg_status
[14, 18, 20, 22, 9] [True, False, True, True, False]

In [4]:
# Hints: try running the following code
# ("this", "is", "a tuple")[1]
# [s.upper() for s in {"hello", "world"}]

### Q1.e

When you have completed your menu in the part (c) you can remove the `#` charcters make this code run:

In [69]:
menu_dict = {
  "name": list(menu.keys()),
  "price": [i[0] for i in menu.values()],
  "vegetarian": [i[1] for i in menu.values()]
 }

menu_dict

{'name': ['salad',
  'soup',
  'pasta',
  'sandwich',
  'burger',
  'fries',
  'cake',
  'cookie',
  'water',
  'coffee',
  'soda'],
 'price': [8, 5, 12, 9, 13, 6, 6, 3, 0, 2, 3],
 'vegetarian': [True,
  False,
  True,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True]}

In [79]:
#The price of the most expensive item in the list
max(menu_dict["price"])

#The name of the most expensive item in the list
menu_dict["name"][np.argmax(menu_dict["price"])]

#Number of vegetarian items on the menu
sum(menu_dict["vegetarian"])

8

Use this table to compute the following:

* What is the price of the most expensive item in the list?
* What is the name of the most expensive item? (You can use the `np.argmax()` function to help you.)
* How many vegetarian items are there?



### Question 2

In [2]:
# run this to do question 2
import pandas as pd

### Q2.a

Here's a Pandas `DataFrame` version of our menu table.

In [3]:
menu_df = pd.DataFrame({'name': ['salad',
  'soup',
  'pasta',
  'sandwich',
  'burger',
  'fries',
  'cake',
  'cookie',
  'water',
  'coffee',
  'soda'],
 'price': [8, 5, 12, 9, 13, 6, 6, 3, 0, 2, 3],
 'vegetarian': [True,
  False,
  True,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True]})

menu_df

        name  price  vegetarian
0      salad      8        True
1       soup      5       False
2      pasta     12        True
3   sandwich      9       False
4     burger     13       False
5      fries      6        True
6       cake      6        True
7     cookie      3        True
8      water      0        True
9     coffee      2        True
10      soda      3        True

Using **methods** for Series objects (i.e., methods called on the columns of the table. Compute the following:

* The name of the least expensive item on the list.
* The number of items that cost between 5 and 10 dollars (inclusive).
* The names all of vegetarian items that cost more than 10 dollars.

In [29]:
#Retrieving the name of the least expensive item on the list
print(menu_df.loc[menu_df["price"].idxmin(), "name"])


#Retrieving the number of items that cost between 5 and 10 dollars (inclusive)
print((menu_df["price"].between(5, 10)).sum())

#Retrieving the names of all vegetatian items that cost more than 10 dollars.
vegetarian_ten = menu_df[(menu_df["price"] > 10) & (menu_df["vegetarian"] == True)]
print(vegetarian_ten["name"])

water
5
2    pasta
Name: name, dtype: object

### Q2.b

Create a table that is only composed of items that cost less than or equal to $5 (call the `value_items`).

In [34]:
# Creating a new dataframe that contains only items that are less than or equal to 5 dollars
menu_lt5 = menu_df[menu_df["price"] <= 5]
print(menu_lt5)

      name  price  vegetarian
1     soup      5       False
7   cookie      3        True
8    water      0        True
9   coffee      2        True
10    soda      3        True

How many vegetarian items are in this menu?

In [35]:
# Counting the number of vegetarian items
print((menu_df["vegetarian"] == True).sum())

8

## Q2.c

Let's use these techniques on some real data!

In [38]:
spotify = pd.read_csv("./spotify.csv")
spotify.columns

Index(['duration_ms', 'track.explicit', 'key', 'danceability', 'energy',
       'loudness', 'acousticness', 'instrumentalness', 'liveness', 'tempo',
       'time_signature', 'track.popularity', 'track.album.release_date',
       'track.name', 'artist.name'],
      dtype='object')

Using Python and Pandas, answer the following questions:

* How many songs have a popularity greater than 80?
* For songs with a popularity greater than 80, what is the shortest song (in miliseconds)?
* What is the name of the song with popularity greater than 80 that has the slowest tempo?

In [60]:
# Creating a new data frame that only contains tracks with popularity greater than 80
spotify_pop_80 = spotify[spotify["track.popularity"] > 80]

# Retrieving the number of columns of the new data frame
print(spotify_pop_80.shape[0])

# Shortest song in the new data frame
print(spotify_pop_80.loc[spotify_pop_80["duration_ms"].idxmin(), "track.name"])

# Song that has popularity greater than 90 and has the slowest tempo
print(spotify_pop_80.loc[spotify_pop_80["tempo"].idxmin(), "track.name"])

84
Uno
Lover

### Q2.d

Here is a little code that will create a new column with four (approximately) evenly sized groups based on popularly (low, medium, medium high, and high). The code after creating the columns shows how many rows are in each group. There are a few songs with the same popularity value, which makes it difficult to get exactly evenly sized groups, but this is pretty close. The `(a, b]` output on the left shows the popularity range of that group.

In [63]:
spotify["popgrp"] = pd.qcut(spotify["track.popularity"], 4)
spotify["popgrp"].value_counts()

popgrp
(-0.001, 41.0]    250
(53.0, 67.0]      242
(67.0, 100.0]     238
(41.0, 53.0]      237
Name: count, dtype: int64

For each group, find the number of explicit songs using the `"track.explicit"` column. Which group has the most explicit songs?

In [73]:
# Finding the number of explicit songs in each popularity group
spotify.groupby("popgrp")["track.explicit"].sum()

/tmp/ipykernel_1703/3816821154.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spotify.groupby("popgrp")["track.explicit"].sum()

popgrp
(-0.001, 41.0]    29
(41.0, 53.0]      24
(53.0, 67.0]      32
(67.0, 100.0]     73
Name: track.explicit, dtype: int64

### Q2.e

Create a new column that is the product of `danceability` and `energy`. Find the song with the highest product of danceability and energy. Find the tempo of this song. Is it a particularly fast song in terms of tempo? How many songs are faster than this song? How many are slower?

In [90]:
# Creating a new column that contains the product of danceability and energy
spotify["dance_energy"] = spotify["danceability"] * spotify["energy"]

# Finding the song with the highest product of danceability and energy; Finding the tempo of that song
song_name = spotify.loc[spotify["dance_energy"].idxmax(), "track.name"]
song_tempo = spotify.loc[spotify["dance_energy"].idxmax(), "tempo"]
print(song_name, song_tempo)

# Number of songs that are faster than the song
print((spotify["tempo"] > song_tempo).sum())

# Number of songs that are slower than the song
print((spotify["tempo"] < song_tempo).sum())

Miracle - Radio Edit 121.98
394
571